<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/login.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>

<body>
    {% if data['username'] == None %}
    <form id="loginForm" class="box" action="/validator" method="post">
        <h1>Login</h1>
        <p id="err"></p>
        <input type="email" name="email" id="email" placeholder="Email Address" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <input type="hidden" name="page" value="login" />
        <input type="submit" id="submit" value="LogIn">
        <a href="/signup" class="buttonInfo">SignUp</a>
    </form>
    {% else %}
    <br><br>
    <div div class="col-lg-8 login-title container">
        <h1>Already Logged In as {{data['username']}}</h1>
    </div>
    <div div class="col-lg-3 login-title container">
        <button class="btn btn-outline-primary" onclick="logout()">LOGOUT</button>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>