<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <input type="hidden" id="username" value="{{ data['username'] }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        function home(){
            window.location = "/";
        }
        var username = document.getElementById('username').value;
        delete_all_cookie();
        home();
    </script>
</body>

</html>